# --========================================-- #
#   * Author  : NTheme - All rights reserved
#   * Created : 14 November 2024, 8:57 AM
#   * File    : .gitignore
#   * Project : CudaTasks
# --========================================-- #

bin/
build/
cmake-build-debug/
.idea/
.vscode/
.clang-format
